
# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# builds
build
dist
.rpt2_cache
storybook-static
.cache

# misc
.DS_Store

npm-debug.log*

# we use yarn
package-lock.json